@using AlumniSystem.Infrastructure.Models.Enums
@model AlumniSystem.Core.ViewModels.AlumniViewModel
@{
    ViewData["Title"] = $"Детайли за {Model.FirstName} {Model.Surname} {Model.LastName}";
}
<h2>@ViewData["Title"]</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Факултетен номер</dt>
        <dd class="col-sm-10">@Model.FacultyNumber</dd>
        <dt class="col-sm-2">Име</dt>
        <dd class="col-sm-10">@($"{Model.FirstName} {Model.Surname} {Model.LastName}")</dd>
        <dt class="col-sm-2">Имейл</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Факултет</dt>
        <dd class="col-sm-10">@((Faculty)Model.Faculty)</dd>
        <dt class="col-sm-2">Специалност</dt>
        <dd class="col-sm-10">@Model.Degree</dd>
        <dt class="col-sm-2">Година на завършване</dt>
        <dd class="col-sm-10">@Model.GraduationYear.ToShortDateString()</dd>
        <dt class="col-sm-2">Професия</dt>
        <dd class="col-sm-10">@Model.CurrentPosition</dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a> |
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</p>